<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://thearon.me/css/main.css">
    <title>Sample thearon.me Application</title>
  </head>
  <body>

  <div id="left" >
        <!-- <h3>The Goods</h3> -->
      <h3>I'm also on:</h3>
      <p class="view"><a href="https://github.com/thelgeson" target="tab">GitHub<small>If you code... I do that a lot</small></a></li>
      <p class="view"><a href="https://twitter.com/PerfectTheo" target="tab">Twitter<small>If you tweet... I don't</small></a></li>
      <p class="view"><a href="https://facebook.com/thearon.helgeson" target="tab">Facebook<small>If you must</small></a></li>

  </div>

  <div id="content" ng-app="" ng-controller="siteController">
    <table border="0" cellpadding="10">
      <tr>
        <td>
          <h1>Sample thearon.me Application</h1>
        </td>
      </tr>
    </table>

    <p>This is the home page for the thearon.me Web application. </p>
    <p>To prove that it works, click stuff below:</p>

    <p>Do you like it??</p>
    <p>
      <button ng-click="toggle(true)">Yes!</button> <button ng-click="toggle(false)">No...</button> </br>
    </p>
    <p>
       <b ng-show="mySwitch">That's Why I like you :)</b>
       <b ng-hide="mySwitch">Seriously?? Don't kid yourself... you don't deserve to see the face!!&nbsp</b>
       <button ng-disabled="!mySwitch" ng-click="showbaby(true)">Show me a face!</button>
    </p>

    <p>
       <img ng-show="baby" src="../images/baby-making-funny-face.png"></img>
    </p>

    <footer>
        {{ footer }}
    </footer>

  </div>

  <!-- <script src="../js/controllers/myModule.js"></script> -->
  <script src="../js/controllers/siteController.js"></script>

  </body>
</html>