  <!DOCTYPE html>
<html>

<head>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>

<div ng-app="" ng-controller="personController">

<button ng-click="toggle()">Hide user</button>

<p ng-hide="myVar">
First Name: <input type=text ng-model="firstName"><br>
Last Name: <input type=text ng-model="lastName"><br><br>
Full Name: {{firstName + " " + "Butts " + lastName}}
<br><br><br><b style="color:#FF9933"><i><u>{{firstName + " Butts " + lastName}} is Ugly!</b></i></u>
</p>

</div>

<script>
function personController($scope) {
    $scope.firstName = "Ugly";
    $scope.lastName = "Person";
    $scope.myVar = false;
    $scope.toggle = function() {
        $scope.myVar = !$scope.myVar;
    };

}
</script> 

</body>
</html>
